@{
}

<html>
<head>
    <title>
        Petalos y Flores
    </title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>

    <div id="main">
      @RenderBody();
    </div>
    <div id="footer">
        <p>
            Examen de Segunda Oportunidad U3
        </p>
    </div>

</body>
</html>