<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Petalos y Flores
    </title>
    <link href="~/style.css" rel="stylesheet"  />
</head>
<body>


    <div id="main">
        <div id="top">
            <div id="logo">
                <h1>
                    <a href="~/Home/Index">Pétalos Y Flores</a>
                </h1>
                <p>

                </p>
            </div>
            <div id="foto">
                <img src="~/images/img09.jpg" alt="" />
            </div>
        </div>
        <div id="center">
            <div id="content2">
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="footer">
        <p>
            Examen de Segunda Oportunidad
        </p>
    </div>

</body>
</html>

